header.header {
  .container {
    z-index: 1;
  }
  .bg-primary {
    background-color: $blue;
  }
  nav {
    #main-menu {
      .nav-link {
        color: $white;
      }
    }
  }
  .navbar {
    padding: 20px;
    > .container {
      position: relative;
      align-items: flex-end;
    }
    .navbar-nav {
      li.menu-item {
        border-bottom: 1px $white solid;
        padding: 5px 0;
      }
      .nav-link {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .navbar-toggler {
      font-size: 2rem;
      padding: 0;
      border: none;
      .navbar-toggler-icon {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
      }
    }

  }
  .toplinks {
    display: none;
    position: absolute;
    top: 0;
    right: 200px;
    width: auto;
    color: $white;
    a {
      color: $white;
    }
    div {
      display: inline-block;
      margin: 0 10px;
    }
    .btn {
      border: 1px $white solid;
      border-radius: 20px;
      font-size: .6rem;
      padding: 2px 10px;
      text-transform: uppercase;
    }
  }
  .tmc-logo {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 85px;
    }

  }
  @include media-breakpoint-up(sm) {
    .toplinks {
      display: block;
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar {
      .navbar-nav {
        li.menu-item {
          border: none;
          padding: 0;
        }
      }
    }
    .navbar-collapse {
      //display: block;
    }
  }
}

// parent header
.parent-header {
  background-color: $dark-gray;
  color: $white;
  text-align: center;
  font-family: $avro;
  padding: 40px;
  h2.parent-header {
    font-size: 1.75rem;
  }
  img.parent-logo {
    width: 75px;
    padding: 0;
    margin: 0;
    border: 0;
  }
}