/* registry list and detail styling */

// registry page styling
.registry, .registry-advanced {
  #content {
    max-width: 1200px !important;
  }
}
.registry, .single-cpm-registry, .registry-advanced {
  // facet filter styling
  .filter-type {
    font-size: .875rem;
  }
  label {
    font-weight: 700;
  }
  .facetwp-type-fselect {
    font-size: .875rem;
    .fs-label-wrap {
      background: $blue;
      border-radius: 10px;
      padding: 3px 5px;
      color: $white;
      text-align: center;
      font-weight: 700;
      font-size: .875rem;
    }
    .fs-arrow {
      border-top-color: $white;
    }
    .fs-wrap {
      width: 100%;
    }
    .fs-dropdown {
      font-size: .75rem;
      width: 100%;
      position: relative;
      .fs-options {
        max-height: 550px;
      }
    }
    .facetwp-active & {

    }
  }
  .facetwp-type-number_range {
    .facetwp-number {
      width: 50px;
      margin-right: 10px;
      &:after {
        content: " - ";
      }
    }
  }
  #content {
    font-size: .875rem;
    table {
      thead {
        th {
          white-space: nowrap;
          border: none;
          padding: .5rem;
          a:after {
            content: "\25B2";
            padding-left: 3px;
            visibility: hidden;
            //font: normal 20px/1 dashicons;
          }
          &:hover a:after {
            visibility: visible;
          }
          &.active {
            background: rgba($green, .5);
            a:after {
              visibility: visible;
            }
            &.asc:hover a:after {
              content: "\25BC"
            }
            &.desc {
              a:after {
                content: "\25BC"
              }
              &:hover a:after {
                content: "\25B2";
              }
            }
          }
        }
        &.registry-table {
          th {
            &:first-child {
              min-width: 100px;
            }
          }
        }
      }
      tbody {
        td {
          border: none;
          padding: .5rem;
        }
        tr:nth-child(odd) {
          background: rgba($green, .1);
        }
      }
      &.registry-table {
        tbody td {
          min-width: 200px;
        }
      }
    }
    .validations {
      padding: 15px;
      border: 1px $gray solid;
      font-size: .75rem;
      h3 {
        text-align: center;
        font-size: 1.25rem;
      }
      label {
        margin-right: 10px;
        font-weight: 600;
      }
      table {
        margin: 0;
        thead th {
          font-weight: 600;
          padding: 0;
        }
        tbody td {
          border-right: 1px #fff solid;
          padding: 5px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    #content, .facetwp-type-fselect {
      font-size: 1rem;
    }

  }
}

.advanced-search {
  margin-bottom: 20px;
  .row {
    font-size: .875rem;
    max-width: 500px;
    .text-filter {
      input {
        width: 100%;
      }
    }
  }
  .btn {
    margin-top: 20px;
  }
}
